<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home - KB Portfolio{% endblock %}

{% block content %}
    <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4 h-screen">
        {% for project in projects %}
            {% if loop.index is divisibleby 2 %}
                {% set animation_class = "animate-slide-in-from-top" %}
            {% else %}
                {% set animation_class = "animate-slide-in-from-bottom" %}
            {% endif %}
            {% with animation_class=animation_class %}
                {% include "_project_card.html" %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
